################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/Browse.VC.db
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/Browse.VC.opendb
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/ipch/AutoPCH/bb4160161e927944/SIMULATORBOARD.ipch
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/ipch/AutoPCH/b58c532e0c44497/BOARDOBJECT.ipch
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/ipch/AutoPCH/a9a5539779718be3/MAIN.ipch
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/ipch/AutoPCH/95c2f70744d77a77/UTILS.ipch
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/ipch/AutoPCH/6aa5585769730753/MAIN.ipch
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/ipch/AutoPCH/3cbb70dc9c3e9f27/UTILS.ipch
/SelfAssemblingTreeSimulator/.vs/SelfAssemblingTreeSimulator/v15/ipch/AutoPCH/1eb17b22ea97edd8/BOARDOBJECT_PSMODE.ipch
